.container {
  margin: 0 auto;
  max-width: 800px;
  box-sizing: border-box;
  position: relative;
  font-family: "微軟正黑體";

  .change {
    color: #0077b3;
    font-size: 16px;
    width: 100%;
    height: 24px;
    cursor: pointer;
    text-align: right;
  }

  .sliderCover {
    width: 100%;
    margin: 0 auto;
    height: 50px;
    text-align: center;
    background: #ede9dd;
    border: solid #ccc;
    border-width: 1px 1px 0 1px;
    box-sizing: border-box;
    .arrowL {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 8px 8px 0;
      border-color: transparent #ff0000 transparent transparent;
      display: inline-block;
      line-height: 50px;
      cursor: pointer;
    }
    .arrowR {
      display: inline-block;
      line-height: 50px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 0 8px 8px;
      border-color: transparent transparent transparent #ff0000;
      cursor: pointer;
    }
    ul {
      margin: 0 auto;
      padding: 0;
      width: calc(100% - 40px);
      display: inline-block;
      li {
        display: inline-block;
        width: calc(100% / 3);
        line-height: 50px;
        cursor: pointer;
      }
    }
  }
  .weekCover {
    width: 100%;
    border: solid #ccc;
    border-width: 1px 1px 1px 1px;
    box-sizing: border-box;
    div {
      display: inline-block;
      width: calc(100% / 7);
      height: 30px;
      line-height: 30px;
      text-align: center;
    }
    &.listCover {
      display: none;
    }
  }
  .calenderCover {
    font-size: 0;
    border: solid #ccc;
    border-width: 0 0 0 1px;
    .eachDate {
      font-size: 12px;
      width: calc(100% / 7);
      display: inline-block;
      height: 100px;
      box-sizing: border-box;
      padding-left: 0.5%;
      padding-bottom: 1%;
      border: solid #ccc;
      border-width: 0 1px 1px 0;
      position: relative;
      vertical-align: middle;
      &:hover {
        background: #fff9e3;
        cursor: pointer;
      }
      span {
        &:nth-child(1) {
          font-size: 20px;
          color: #444444;
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          padding: 0 3px;
          width: 40px;
          height: 20px;
          color: #fff;
          text-align: center;
          line-height: 20px;
          // background-color: #fe8400;
          position: absolute;
          right: 0;
        }
        &:nth-child(4) {
          color: #ff7800;
          display: block;
        }
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7) {
          display: block;
        }
        &:nth-child(7) {
          color: #e10500;
        }
        &.greenText {
          color: #1c9c9d;
        }
        &.addbg {
          background: #fe8400;
        }
      }
      &.gray {
        background: rgb(223, 222, 222);
      }
    }
  }
  .listCover {
    // height: 520px;
    // overflow: hidden;
    .eachDate {
      height: 65px;
      width: 100%;
      padding: 0 5px;
      position: relative;
      border: solid #ccc;
      border-width: 0 1px 1px 1px;
      box-sizing: border-box;
      &:hover {
        background: #fff9e3;
        cursor: pointer;
      }
      span {
        &:nth-child(1) {
          font-size: 20px;
          color: #444444;
          position: absolute;
          left: 25px;
          top: 5px;
          //   order: 1;
        }
        &:nth-child(2) {
          font-size: 20px;
          color: #444444;
          position: absolute;
          bottom: 5px;
          left: 10px;
          //   order: 5;
        }
        &:nth-child(3) {
          padding: 0 3px;
          width: 40px;
          height: 20px;
          color: #fff;
          text-align: center;
          line-height: 20px;
          background-color: transparent;
          border-radius: 5px;
          position: absolute;
          left: 90px;
          bottom: 5px;
          //   order: 6;
        }
        &:nth-child(4) {
          position: absolute;
          right: 20px;
          top: 5px;
          color: #ff7800;

          //   order: 4;
        }
        &.greenText {
          color: #1c9c9d;
        }
        &:nth-child(5) {
          position: absolute;
          left: 95px;
          top: 5px;
          //   order: 2;
        }
        &:nth-child(6) {
          position: absolute;
          left: 200px;
          top: 5px;
          //   order: 3;
        }

        &:nth-child(7) {
          color: #e10500;
          position: absolute;
          bottom: 5px;
          right: 20px;
          //   order: 7;
        }
        &.addbg {
          background: #fe8400;
        }
      }
      &.gray {
        display: none;
      }
      &.diNo {
        display: none;
      }
    }
  }
  .currentMonth {
    background: #fff;
  }
  .pages {
    display: none;
    // width: 100%;
    // margin: 0 auto;
    // text-align: center;
    // height: 30px;
    // vertical-align: middle;
    // span {
    //   padding: 1%;
    //   display: inline-block;
    //   cursor: pointer;
    // }
  }
  .pagesNo {
    display: none;
  }
}
